{
  "exclude": [".*.d.ts$"],
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "inlineSourcesContent": true
}
